

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Asegurece que la cantidad introducida sea la correcta..</h2>


<div class="form-group">

    <a asp-action="Index" class="btn btn-success">Volver al Menu de Pagos</a>
</div>

