<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UB INDUSTRIES</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">UB INDUSTRIES</a>
            </div>
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="nav navbar-nav ">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="combobox" aria-expanded="false" aria-haspopup="true" href="#" data-toggle="dropdown">Productos</a>
                        <div class="dropdown-menu bg-success" style="left: 0px; top: 0px; position: absolute; transform: translate3d(0px, 37px, 0px);" x-placement="bottom-start">
                            <a asp-area="" asp-controller="Sabores" asp-action="Index">Sabores </a>
                            <br />
                            <a asp-area="" asp-controller="Etiquetas" asp-action="Index">Etiquetas</a>
                            <br />
                            <a asp-area="" asp-controller="Envases" asp-action="Index">Envases</a>
                            <br />
                            <a asp-area="" asp-controller="TipoProductos" asp-action="Index">TipoProducto</a>
                            <br />
                            <a asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
                            <br />
                            <a asp-area="" asp-controller="ProductosReales" asp-action="Index">Productos Reales</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Recetario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-area="" asp-controller="Insumos" asp-action="Index">Insumos</a>
                            <br />
                            <a class="dropdown-item" asp-area="" asp-controller="Recetas" asp-action="Index">Recetas</a>
                        </div>
                    </li>

                    <li><a asp-area="" asp-controller="Presentaciones" asp-action="Index">Presentaciones</a></li>
                    <li><a asp-area="" asp-controller="Lineas" asp-action="Index">Lineas</a></li>
                    <li><a asp-area="" asp-controller="EmpleadosProduccion" asp-action="Index">Empleados</a></li>
                    <li><a asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a></li>
                    <li><a asp-area="" asp-controller="Fases" asp-action="Index">Fases</a></li>
                    <li><a asp-area="" asp-controller="Pedidos" asp-action="Index">Pedidos</a></li>

                    <li><a asp-area="" asp-controller="Account" asp-action="Index">Gestionar Cuentas</a> </li>

                    

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="ChangeUser">@this.User.Identity.Name</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - ProductionSystem.Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
