@model ProductionSystem.Web.Data.Entities.Categoria
@{
    ViewData["Title"] = "DeleteCategoria";
}

<h2>Borrar Categoria</h2>


<h3>Esta seguro de eliminar ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="DeleteCategoria">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
