@model ProductionSystem.Web.Models.DeshechoViewModel

@{
    ViewData["Title"] = "AddDeshecho";
}

<h2>AddDeshecho</h2>

<h4>Deshecho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDeshecho">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProduccionId" />

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="AddDeshecho" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

