

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrio un error, asegurese que la etiqueta no este siendo usada o que los campos esten debidamente llenados.</h2>


<div class="form-group">

    <a asp-action="Index" class="btn btn-success">Volver al Menu de Presentaciones</a>
</div>

