

@{

    ViewBag.Title = "Customize Error Page";

}

<div style=" padding: 20px; color:red">

    <h3>

        Usted no tiene pedidos pendientes

    </h3>

    <h4>

       Vuelva a recargar la pagina, o vuelva al menú

    </h4>

  

    <br />

    <br />

</div>